body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


  col {
    display: flex !important;
  }

  .card{ 
  min-width: 100% !important;
  }

.card-content>p{    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.collection:empty{
  display: none;
}

.collection-item span {
  display: block;
}

.collection-item span a{
  float: right;
}